@import "tailwindcss";


.App {
  max-width: 420px;
  min-width: 420px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 16px;
  font-family: 'Segoe UI', sans-serif;
  transition: background 0.4s ease, box-shadow 0.3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}
